.AddPost{
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.happen{
    height: 100px;
    width:100%;
    border:1px solid black;
}

.publishAndPublic{
   display: flex;
    justify-content: space-between;
}



.uploadInput{
    border: 1px solid black;
    
}