body{
    min-height: 100vh;
    min-width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}

#root{
    width: 85%;
}

.container{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}